
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fusion</title>
    <link rel="icon" href="favicon.ico" />
    <!-- Bootstrap Font Icon CSS -->
    
</head>
<body>
    <header id="header" class="header header-nav fixed-top align-items-center">
        <nav class="navbar-main">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between">
                    <a class="navbar-brand"><img src="../../../assets/images/logo2.png" class="img-fluid" /></a>
                    <ul class="d-flex header-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-icon" href="Create_Requisition.html" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span class="badge bg-primary badge-number">4</span> </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                                <li class="dropdown-header"> You have 4 new notifications <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="notification-item"> <i class="bi bi-exclamation-circle text-warning"></i><div><h4>Lorem Ipsum</h4><p>Quae dolorem earum veritatis oditseno</p><p>30 min. ago</p></div></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="notification-item"> <i class="bi bi-x-circle text-danger"></i><div><h4>Atque rerum nesciunt</h4><p>Quae dolorem earum veritatis oditseno</p><p>1 hr. ago</p></div></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="notification-item"> <i class="bi bi-check-circle text-success"></i><div><h4>Sit rerum fuga</h4><p>Quae dolorem earum veritatis oditseno</p><p>2 hrs. ago</p></div></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="notification-item"> <i class="bi bi-info-circle text-primary"></i><div><h4>Dicta reprehenderit</h4><p>Quae dolorem earum veritatis oditseno</p><p>4 hrs. ago</p></div></li>
                                <li><hr class="dropdown-divider"></li>
                                <li class="dropdown-footer"> <a href="#">Show all notifications</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown pe-3">
                            <a class="nav-link nav-icon nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                                <i class="bi bi-person-circle"></i> <span class="d-none d-md-block dropdown-toggle ps-2">Sweekrit P</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                                <li class="dropdown-header"><h6>Sweekrit P</h6> <span>Manager - Business Development</span></li>
                                <li><hr class="dropdown-divider"></li>
                                <li> <a class="dropdown-item d-flex align-items-center" href="Profile_Sales.html"> <i class="bi bi-person"></i> <span>My Profile</span> </a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li> <a class="dropdown-item d-flex align-items-center" href="index.html"> <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="Dashboard_Sales.html"><i class="bi bi-speedometer"></i></a>
                        </li>
                        <li class="nav-item">
                            <!--<a class="nav-link" href="advance-search_Sales.html">Advanced Search</a>-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Requisition_Sales.html">Requisition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="SkillProfile_Sales.html">Skills/Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        <div class="pagetitle"><h1>Create Requisition</h1></div>
        <section class="section">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <form class="needs-validation mb-4" novalidate>
                                <div class="row no-gutters">
                                    <div class="col-sm-1">
                                        <div class="form-check mt-1 form-switch"> <input class="form-check-input" type="checkbox" id="intCloneReq"> <label class="form-check-label" for="intCloneReq">Clone</label></div>
                                    </div>
                                    <div class="col-sm-2">
                                        <input id="intCloneReqNumber" type="number" class="form-control" placeholder="Req ID" disabled required />
                                    </div>
                                    <div class="col-sm-3"><button id="btnCloneReq" type="submit" class="btn btn-primary btn-sm" disabled>Clone Requisition</button></div>
                                </div>
                            </form>
                            <form class="needs-validation" novalidate>
                                <div class="divForm_bg">
                                    <div class="row mt-2">
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intReqNumber" type="number" class="form-control" disabled value="1210" />
                                                <label for="intReqNumber" class="form-label">Req ID</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intPotentialID" type="text" class="form-control" placeholder="Potential ID" required />
                                                <label for="intPotentialID" class="form-label">Potential ID</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select id="selComplexity" class="form-select">
                                                    <option>Low</option>
                                                    <option>Medium</option>
                                                    <option>High</option>
                                                </select>
                                                <label for="selComplexity" class="form-label">Complexity</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <input type="text" id="intRequisitionDate" class="form-control date" placeholder="Requisition Date" required />
                                                <label for="intRequisitionDate" class="form-label">Requisition Date</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intRequisitionDeadlineDate" type="text" class="form-control date" placeholder="Expected Response Deadline Date" required />
                                                <label for="intRequisitionDeadlineDate" class="form-label">Expected Response Deadline Date</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intClientName" type="text" class="form-control" placeholder="Client Name" />
                                                <label for="intClientName" class="form-label">Client Name</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select id="selProjectType" class="form-select" required>
                                                    <option>FTE</option>
                                                    <option>Time and Material</option>
                                                    <option>Fixed Bid</option>
                                                </select>
                                                <label for="selProjectType" class="form-label">Project Type</label>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intRequisitionStatus" type="text" class="form-control" placeholder="Requisition Status" required />
                                                <label for="intRequisitionStatus" class="form-label">Requisition Status</label>
                                            </div>
                                        </div>-->

                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select id="intSalesPerson" class="myselect form-select" placeholder="Sales Person" required>
                                                    <option value="AL">Kaveramma</option>
                                                    <option value="WY">Deepthi</option>
                                                    <option value="WY">Danish Rizvi</option>
                                                    <option value="WY">Sandeep Moolya</option>
                                                    <option value="WY">Salman Khan</option>
                                                    <option value="WY">Sudeep M</option>
                                                </select>
                                                <label for="intSalesPerson" class="form-label">Sales Person</label>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intSPEmailID" type="email" class="form-control" placeholder="SP Email ID" required />
                                                <label for="intSPEmailID" class="form-label">Sales Person Email ID</label>
                                            </div>
                                        </div>-->
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select id="intPMName" class="myselect form-select" placeholder="PM Name" multiple required>
                                                    <option value="AL">Aravind</option>
                                                    <option value="WY">Baijumon</option>
                                                    <option value="WY">Kathik A S</option>
                                                    <option value="WY">karthikeyan</option>
                                                    <option value="WY">Sai Praveen S</option>
                                                    <option value="WY">Santhosh Kumar</option>
                                                    <option value="WY">Sameer T N</option>
                                                </select>
                                                <label for="intPMName" class="form-label">PM Name</label>
                                            </div>
                                        </div>
                                        <!--<d  iv class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intPMEmailID" type="email" class="form-control" placeholder="PM Email ID" required />
                                                <label for="intPMEmailID" class="form-label">PM Email ID</label>
                                            </div>
                                        </div>-->
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <select id="intInterviewStatus" class="form-select" placeholder="Interview Status" required>
                                                    <option value="AL">Select</option>
                                                    <option value="AL" selected>Open</option>
                                                    <option value="AL">Closed</option>
                                                </select>
                                                <label for="intInterviewStatus" class="form-label">Requisition Status</label>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intEnquiryReceivedDate" type="text" class="form-control" placeholder="Interview Level" required />
                                                <label for="intEnquiryReceivedDate" class="form-label">Interview Level</label>
                                            </div>
                                        </div>-->
                                        <!--<div class="col-sm-3">
                                            <div class="form-floating">
                                                <select id="intPartnerName" class="myselect form-control" placeholder="Partner Name" required>
                                                    <option>Select</option>
                                                    <option value="AL">A to Z Solutions</option>
                                                    <option value="AL">Bacany</option>
                                                    <option value="AL">Harapz</option>
                                                    <option value="AL">Sight Spectrum</option>
                                                    <option value="AL">Sowedane</option>
                                                    <option value="AL">Talent Sketchers</option>
                                                </select>
                                                <label for="intPartnerName" class="form-label">Partner Name</label>
                                            </div>
                                        </div>-->
                                        <div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intProjectExpectedStartDate" class="form-control dateFiller" placeholder="Project Expected Start Date" required />
                                                <label for="intProjectExpectedStartDate" class="form-label">Project Expected Start Date</label>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-3">
                                            <div class="form-floating">
                                                <input id="intEnquiryReceivedDate" type="text" class="form-control date" placeholder="Enquiry Received Date" required />
                                                <label for="intEnquiryReceivedDate" class="form-label">Enquiry Received Date</label>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="">
                                    <h4 class="heading-btm mt-3 mb-3">General Information</h4>
                                    <div class="accordion mb-5" id="accordionRequisition">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading1">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#general-in01" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                                    Job Description
                                                </button>
                                            </h2>
                                            <div id="general-in01" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1" data-bs-parent="#accordionRequisition">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="form-floating">
                                                                <input id="intJobDesc" type="text" class="form-control" placeholder="Job Description / Specific Skillset" />
                                                                <label for="intJobDesc" class="form-label">Job Description / Specific Skillset</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <label for="intJobDesc" class="lblFloatcustom">Duration / Tenure</label>
                                                            <div class="input-group m--15px">
                                                                <input type="text" class="form-control" name="" placeholder="#">
                                                                <select class="form-select" id="inputGroupSelect01">
                                                                    <option value="1">Hours</option>
                                                                    <option value="2">Months</option>
                                                                    <option value="3">Yearly</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-floating">
                                                                <input id="intShiftTime" type="text" class="form-control" placeholder="Shift timing / TimeZone / Overlap" />
                                                                <label for="intShiftTime" class="form-label">Shift timing / TimeZone / Overlap</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-floating">
                                                                <input id="intResources" type="text" class="form-control" placeholder="Number of resources" />
                                                                <label for="intResources" class="form-label">Number of resources</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-floating">
                                                                <input id="intOpenPositions" type="text" class="form-control" placeholder="Open Positions" />
                                                                <label for="intOpenPositions" class="form-label">Open Positions</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="desc-list-info">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <h6>Key</h6>
                                                                <textarea rows="10" class="form-control"></textarea>
                                                                <div class="row mt-3">
                                                                    <label for="inputNumber" class="col-sm-1 col-form-label">Upload</label><div class="col-sm-11"> <input class="form-control" type="file" id="formFile"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-floating">
                                                                            <input id="intPreferredEducation" type="text" class="form-control" placeholder="Preferred Education" />
                                                                            <label for="intPreferredEducation" class="form-label">Preferred Education</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-floating">
                                                                            <input id="intMinimumexperience" type="number" class="form-control" placeholder="Minimum experience" />
                                                                            <label for="intMinimumexperience" class="form-label">Minimum Experience</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-floating">
                                                                            <input id="intMaximumexperience" type="text" class="form-control" placeholder="Maximum experience" />
                                                                            <label for="intMaximumexperience" class="form-label">Maximum Experience</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading2">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-in02" aria-expanded="false">
                                                    Skills & Experience
                                                </button>
                                            </h2>
                                            <div id="general-in02" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading2" data-bs-parent="#accordionRequisition">
                                                <div class="text-end mt-2">
                                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#skillsExp">
                                                        Add Skills & Experience
                                                    </button>
                                                </div>
                                                <div class="accordion-body">
                                                    <table id="example" class="table table-striped mytable-new" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Sl. No.</th>
                                                                <th>Technology</th>
                                                                <th>Mandatory</th>
                                                                <th>Experience</th>
                                                                <th>Comments</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Python</td>
                                                                <td>Yes</td>
                                                                <td>2</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>React JS</td>
                                                                <td>Yes</td>
                                                                <td>1</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Angular</td>
                                                                <td>Yes</td>
                                                                <td>1</td>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--<div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intLanguage" type="text" class="form-control" placeholder="Language" />
                                                                <label for="intLanguage" class="form-label">Language</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intQulification" type="text" class="form-control" placeholder="Qulification" />
                                                                <label for="intQulification" class="form-label">Qulification</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intPG" type="text" class="form-control" placeholder="PG" />
                                                                <label for="intPG" class="form-label">PG</label>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading3">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-in03" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                    Resource
                                                </button>
                                            </h2>
                                            <div id="general-in03" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading3">
                                                <div class="accordion-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Qualification</th>
                                                                    <th>Skills</th>
                                                                    <th>Experience (yrs)</th>
                                                                    <th>Email ID</th>
                                                                    <th>Contact Number</th>
                                                                    <th>Worked with FWS</th>
                                                                    <th>Resume</th>
                                                                    <th>Status</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Arif A</td>
                                                                    <td>MCA</td>
                                                                    <td>ASP.Net</td>
                                                                    <td>3</td>
                                                                    <td><a href="mailto:arifa@gmail.com">arifa@gmail.com</a></td>
                                                                    <td>987654210</td>
                                                                    <td class="text-center"><i class="bi bi-check-circle text-success"></i></td>
                                                                    <td><a href="resume.pdf" target="_blank"><i class="bi bi-file-earmark-text"></i></a></td>
                                                                    <td>Approved</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Shivakumar</td>
                                                                    <td>MCA</td>
                                                                    <td>ASP.Net</td>
                                                                    <td>3</td>
                                                                    <td><a href="mailto:shivakumara@gmail.com">shivakumar@gmail.com</a></td>
                                                                    <td>1234567890</td>
                                                                    <td class="text-center"><i class="bi bi-check-circle text-success"></i></td>
                                                                    <td><a href="resume.pdf" target="_blank"><i class="bi bi-file-earmark-text"></i></a></td>
                                                                    <td>Approved</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Srikanth Sherigar</td>
                                                                    <td>MCA</td>
                                                                    <td>ASP.Net</td>
                                                                    <td>3</td>
                                                                    <td><a href="mailto:srikanth.sherigara@gmail.com">srikanth.sherigara@gmail.com</a></td>
                                                                    <td>5432167890</td>
                                                                    <td class="text-center"><i class="bi bi-x-circle text-danger"></i></td>
                                                                    <td><a href="resume.pdf" target="_blank"><i class="bi bi-file-earmark-text"></i></a></td>
                                                                    <td>Rejected</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <!--<div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-in04" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                                    Schedule
                                                </button>
                                            </h2>
                                            <div id="general-in04" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="int" type="text" class="form-control date" placeholder="Start Date" />
                                                                <label for="" class="form-label">Start Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intEstEndDate" type="text" class="form-control date" placeholder="Est End Date" />
                                                                <label for="intEstEndDate" class="form-label">Est End Date</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intHoursPerWeek" type="number" class="form-control" placeholder="Hours Per Week" />
                                                                <label for="intHoursPerWeek" class="form-label">Hours Per Week</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intPerDay" type="text" class="form-control" placeholder="Per Day" />
                                                                <label for="intPerDay" class="form-label">Per Day</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intDaysPerweek" type="text" class="form-control" placeholder="Days Per Week" />
                                                                <label for="intDaysPerweek" class="form-label">Days Per Week</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="form-floating">
                                                                <input id="intScheduleNotes" type="text" class="form-control" placeholder="Schedule Notes" />
                                                                <label for="intScheduleNotes" class="form-label">Schedule Notes</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading5">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-in05" aria-expanded="false">
                                                    Financial
                                                </button>
                                            </h2>
                                            <div id="general-in05" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading5" data-bs-parent="#accordionRequisition">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <select id="selDepartment" class="form-select" placeholder="Department">
                                                                    <option>Software</option>
                                                                    <option>Mortgage</option>
                                                                </select>
                                                                <label for="" class="form-label">Department</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <input id="intRate" type="text" class="form-control" placeholder="Rate Per Hour" />
                                                                <label for="intRate" class="form-label">Rate Per Hour</label>
                                                            </div>
                                                        </div>
                                                        <!--<div class="col-md-3">
                                                            <div class="form-floating">
                                                                <select id="intRateApplication" class="form-select" placeholder="Rate Application">
                                                                    <option>Per Hour</option>
                                                                    <option>Per Day</option>
                                                                    <option>Per Week</option>
                                                                </select>
                                                                <label for="intRateApplication" class="form-label">Rate Application</label>
                                                            </div>
                                                        </div>-->
                                                        <div class="col-md-3">
                                                            <div class="form-floating">
                                                                <select id="intRateApplication" class="form-select" placeholder="Currency">
                                                                    <option>Dollar</option>
                                                                    <option>INR</option>
                                                                </select>
                                                                <label for="intRateApplication" class="form-label">Currency</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="panelsStayOpen-heading7">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-in07" aria-expanded="false">
                                                    Assign to Partner
                                                </button>
                                            </h2>
                                            <div id="general-in07" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading7" data-bs-parent="#accordionRequisition">
                                                <div class="accordion-body">
                                                    <div class="form-floating">
                                                        <input type="text" class="form-control" id="intSearchPartner" placeholder="Search Partner">
                                                        <label for="intSearchPartner" class="form-label">Search Partner</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="divSearchselect">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item"> <input id="intChk1" class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <label for="intChk1">A to Z Solutions</label></li>
                                                                    <li class="list-group-item"> <input id="intChk2" class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <label for="intChk2">Bacany</label></li>
                                                                    <li class="list-group-item"> <input id="intChk3" class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <label for="intChk3">Harapz</label></li>
                                                                    <li class="list-group-item"> <input id="intChk4" class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <label for="intChk">Sight Spectrum</label></li>
                                                                    <li class="list-group-item"> <input id="intChk5" class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <label for="intChk5">Sowedane</label></li>
                                                                    <li class="list-group-item"> <input id="intChk6" class="form-check-input me-1" type="checkbox" value="" aria-label="..."> <label for="intChk6">Talent Sketchers</label></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="divSearchselect">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item active" aria-current="true">Selected</li>
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center"> A to Z Solutions <a href="#!" class="badge bg-primary rounded-pill">X</a></li>
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center"> Sight Spectrum <a href="#!" class="badge bg-primary rounded-pill">X</a></li>
                                                                    <li class="list-group-item d-flex justify-content-between align-items-center"> Talent Sketchers <a href="#!" class="badge bg-primary rounded-pill">X</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" text-center">
                                    <button class="btn btn-secondary" onclick="history.back()">Cancel</button>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="modal fade" id="skillsExp">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Skills & Experience</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="intTechnology" placeholder="Technology">
                                <label for="intTechnology" class="form-label">Technology</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select class="form-select" id="selMandatory">
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                                <label for="selMandatory" class="form-label">Mandatory</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select class="form-select" id="selMandatory">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                                <label for="selMandatory" class="form-label">Experience</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <textarea class="form-control" rows="4" id="textComments" placeholder="Comments"></textarea>
                                <label for="textComments" class="form-label">Comments</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#successModal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div id="successModal" class="modal fade delete-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <i class="bi bi-check-circle modal-successIco"></i>
                    <h3>Added successfully</h3>
                    <div class="m-t-20">
                        <button type="button" class="btn btn-white" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="copyright">
            © 2022 Flatworld Edge All Rights Reserved.
        </div>
    </footer>
    <script src="./js/jquery-3.5.1.js"></script>
    <script src="./js/moment.min.js"></script>
    <script src="./js/daterangepicker.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>
    <script src="./js/dataTables.bootstrap5.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        $('#intCloneReq').on('change', function (event, state) {
            var status = $('#intCloneReqNumber').prop('disabled');
            $('#intCloneReqNumber').prop('disabled', !status);
            $('#btnCloneReq').prop('disabled', !status);
        });
    </script>
</body>
</html>
